@model IEnumerable<CustomUser>

@{
    ViewData["Title"] = "Unauthorized Users";
}

<h1>Registered Users</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="AuthorizeMemberRole" asp-route-userId="@user.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-primary">Authorize</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>